<div class="bar-container">
  <div class="title-container">
    <span class="name">{{storeInfo.name}}</span>
    <span class="category">{{storeInfo.category | titlecase}}</span>
  </div>
  <div class="relative">

  </div>
</div>

<div class="page-container">
  <div class="products-container">

    <div class="header">
      <span class="title">Gestione Prodotti</span>
      <buttons-group [panelLayoutActive]="panelLayoutActive"
                     (onPanelLayoutActiveChange)="panelLayoutActive = $event" >
      </buttons-group>
    </div>
    <hr>

    <div *ngIf="products.length > 0">
      <panel-grid [products]="products" [panelLayoutActive]="panelLayoutActive"></panel-grid>
    </div>

    <div *ngIf="products.length == 0" class="text-center w-full mt-10">
      <span class="text-3xl text-orange-500 font-bold">Nessun prodotto configurato!</span>
    </div>
  </div>
</div>


